In [1]:
import pandas as pd
import os
from office365.runtime.auth.authentication_context import AuthenticationContext
from office365.sharepoint.client_context import ClientContext
from office365.sharepoint.files.file import File

In [2]:
user = os.environ['user']
password = os.environ['password']
site_url = os.environ['site_url']
relative_url_to_file = os.environ['relative_url_to_file']

In [3]:
ctx_auth = AuthenticationContext(site_url)
if ctx_auth.acquire_token_for_user(user, password):
    ctx = ClientContext(site_url, ctx_auth)
    
    
    response = File.open_binary(ctx, relative_url_to_file)

    # Instead of file.read(), use response.content to get the binary content of the file
    with open("data.xlsx", "wb") as local_file:
        local_file.write(response.content)
else:
    print(ctx_auth.get_last_error())

In [5]:
df = pd.read_excel('data.xlsx', sheet_name='Form1')

In [6]:
df

,ID,Start time,Completion time,Email,Name,Last modified time,DATA,PLANTÃO,UNIDADE DO ALUNO,CURSOS PAULISTA\n,...,TEORIA - PALAVRA-CHAVE/CONCEITO/BREVE RESUMO - (História),"ERRO DE GABARITO (História)\nIndicar o caderno em que o erro aparece, número da página e número da questão",OUTROS,CADERNO DE ESTUDOS 1,CADERNO DE ESTUDOS 2,CADERNO DE ESTUDOS 3,CADERNO DE ESTUDOS 4,CADERNO DO ALUNO 1,CADERNO DO ALUNO 2,CADERNO DO ALUNO 3
0,1,2023-08-04 20:30:00,2023-08-04 20:30:33,A238144@somoseducacao.com.br,Aline Isabela Paulino Pereira,NaN,2023-08-04,ONLINE,PAULISTA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2023-08-04 20:44:32,2023-08-04 20:45:23,A238144@somoseducacao.com.br,Aline Isabela Paulino Pereira,NaN,2023-08-04,ONLINE,PLAY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN